.task-form {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.task-form h2 {
    color: #ec5454;
    font-size: 28px;
    text-align: center;
}

.task-form .button-group {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.task-form .mb-3 {
    margin-bottom: 1.5rem;
}

.task-form .mb-4 {
    margin-bottom: 2rem;
}

.task-form .form-control {
    border-radius: 5px;
}

.task-form .form-check-label {
    color: #727272;
}

.task-form .btn-primary {
    background-color: #ff6f61;
    border-color: #ff6f61;
}

.task-form .btn-primary:hover {
    background-color: #f65546;
    border-color: #f55547;
}

.task-form .btn-secondary {
    background-color: #6c757d;
    border-color: #6c757d;
}

.task-form .btn-secondary:hover {
    background-color: #5a6268;
    border-color: #5a6268;
}